extends ../layout

block content
    h1 Create a new distribution for transaction #{data.transactionId}

    form(method="post")
        fieldset.form-group

            div.radio
                label
                    input.form-control(type="radio" name="drcr" value="1" checked)
                    p DR

            div.radio
                label
                    input.form-control(type="radio" name="drcr" value="-1")
                    p CR

            label(for="account_id") Account:
            select.form-control(name="account_id")
                option(value='') none selected
                each account in data.accounts
                    option(value="#{account._id}") #{account.title}

            label(for="amount") Amount:
            input.form-control(name="amount", type="text", placeholder="Enter an amount")

            label(for="currency_id") Currency:
            select.form-control(name="currency_id")
                option(value='') none selected
                each currency in data.currencies
                    option(value="#{currency._id}") #{currency.symbol}


        button.btn.btn-primary(type="submit") Create new distribution
        a.btn.btn-defualt(href="/admin/distributions") Cancel