extends ../layout

block content
    h1 View account: #{data.account.title}

    p Assets, Bank

    if data.distributions.length > 0
        table.table.table-striped
            thead
                tr
                    th
                    th Date
                    th Note
                    th DR/CR
                    th Amount
                    th Running Total

            tbody
                - runtot = 0
                each distribution in data.distributions
                    tr
                        td(style="width: 50px;"): a(href="/transactions/dashboard/#{distribution.transaction_id}")
                            span.glyphicon.glyphicon-zoom-in

                        td= distribution.transaction_info[0].datetime
                        td= distribution.transaction_info[0].note

                        - amount = parseFloat(distribution.amount)
                        - runtot += amount
                        - drcr = (amount) >=0 ? 'DR' : 'CR'
                        td= drcr

                        td= distribution.amount
                        td= runtot

