//- 2.1 POST /categories
div
    pre
        p content-type=application/json
        p {title: 'first title'}
        p POST #{result.bookwerx_coreURL}/categories

    pre #{result.post_categories}

hr

// 2.2 GET /categories
div
    pre GET #{result.bookwerx_coreURL}/categories
    pre #{result.get_categories}

hr

// 2.3 GET /categories/:id
// 2.3.1 good id
div
    pre GET #{result.bookwerx_coreURL}/categories/#{result.example_category_id}
    pre #{result.get_categories_good_id}

hr

// 2.3.2 bad id
div
    pre GET #{result.bookwerx_coreURL}/categories/#{result.bad_category_id}
    pre #{result.get_categories_bad_id}

hr

// 2.4 PUT /categories/:id
// 2.4.1 good id
div
    pre
        p content-type=application/json
        p {title: 'first amended title'}
        p PUT #{result.bookwerx_coreURL}/categories/#{result.example_category_id}

    pre #{result.put_categories_good_id}

hr

// 2.4.2 bad id
div
    pre
        p content-type=application/json
        p {title: 'first amended title'}
        p PUT #{result.bookwerx_coreURL}/categories/#{result.bad_category_id}

    pre #{result.put_categories_bad_id}

hr

// 2.5 DELETE /categories/:id
// 2.5.1 good id
div
    pre DELETE #{result.bookwerx_coreURL}/categories/#{result.example_category_id}
    pre #{result.delete_categories_good_id}

hr

// 2.5.2 bad id
div
    pre DELETE #{result.bookwerx_coreURL}/categories/#{result.example_category_id}
    pre #{result.delete_categories_bad_id}


