extends ../layout

block content
    h1 Currencies:
    a.btn.btn-primary(href="/currencies/addform") Create a new currency

    if currencies.length > 0
        table.table.table-striped
            thead
                tr
                    th
                    th Symbol
                    th Title
                    th
                    th Id
            tbody
                each currency in currencies
                    tr
                        td(style="width: 50px;"): a(href="/currencies/delete/#{currency._id}")
                            span.glyphicon.glyphicon-remove
                        td= currency.symbol
                        td= currency.title
                        td(style="width: 50px;"): a(href="/currencies/editform/#{currency._id}")
                            span.glyphicon.glyphicon-pencil
                        td= currency._id
