extends ../layout

block content
    h1 View transaction: #{data.transaction._id}
    p #{data.transaction.datetime}
    p #{data.transaction.note}

    a.btn.btn-primary(href="/distributions/addform/#{data.transaction._id}") Create a new distribution

    if data.distributions.length > 0
        table.table.table-striped
            thead
                tr
                    th DR/CR
                    th Account
                    th Amount
                    th Currency
                    th

            tbody
                each distribution in data.distributions
                    tr
                        - amount = distribution.amount
                        - drcr = amount >= 0 ? 'DR' : 'CR'
                        - amount = amount >= 0 ? amount : -amount
                        td= drcr
                        td= distribution.account[0].title
                        td= amount
                        td= distribution.currency[0].symbol

                        // edit and delete from the same form
                        td(style="width: 50px;"): a(href="/distributions/editform/#{distribution._id}")
                            span.glyphicon.glyphicon-pencil
                        td(style="width: 50px;"): a(href="/distributions/editform/#{distribution._id}")
                            span.glyphicon.glyphicon-remove
